<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="SearchServiceName" value=""/>
  <add key="SearchServiceApiKey" value=""/>
  <add key="SearchServiceQueryKey" value=""/>

  <add key="BlobStorageAccountConnectionString" value=""/>

  <add key="AzureWebAppSiteName" value=""/>
  <add key="AzureWebAppUsername" value=""/>
  <add key="AzureWebAppPassword" value=""/>

  <add key="AzureFunctionSiteName" value=""/>
  <add key="AzureFunctionUsername" value=""/>
  <add key="AzureFunctionPassword" value=""/>

   <add key="IIDocumentsBlobStorageAccountConnectionString" value=""/>
  <add key="IIDocumentsBlobContainerName" value=""/>

  </appSettings>
</configuration>